[.truncate]
* Information model
** Classes
{% for class_ in page.classes.values() -%}
*** xref::class/{{ class_.name }}.adoc[`{{ class_.name }}`]
{#%- if class_.attributes -%}
{% for slot in (class_.attributes + class_.relations) -%}
**** xref::slot/{{ slot.name }}.adoc[`{{ slot.name }}`]
{% endfor -%}
{% endif %#}
{% endfor -%}