[.truncate]
* Information model
** xref::index.adoc[Index]
** Classes
{% for class_ in page.classes.values() -%}
*** xref::class/{{ class_.name }}.adoc[`{{ class_.name }}`]
{#%- if class_.attributes -%}
{% for slot in (class_.attributes + class_.relations) -%}
**** xref::slot/{{ slot.name }}.adoc[`{{ slot.name }}`]
{% endfor -%}
{% endif %#}
{% endfor -%}
{% if page.cim_data_types %}
** CIM data type classes
{% for cim_data_type_class in page.cim_data_types.values() -%}
*** xref::class/{{ cim_data_type_class.name }}.adoc[`{{ cim_data_type_class.name }}`]
{% endfor -%}
{% endif %}