{%- if class_.title -%}
    {%- set title = class_.title -%}
{%- else -%}
    {%- set title = "`" ~ class_.name ~ "`" -%}
{%- endif -%}
= {{ title }}
:toclevels: 4

{% if class_.description %}
+++{{ class_.description | trim }}+++
{% endif %}

[cols="h,4",width=65%]
|===
| Type
| {% if class_.is_abstract %}Abstract class^xref:ROOT::usage_notes_abstract_class.adoc[?]^{% else %}Class{% endif %}

{% if class_.uri %}
| URI^xref:ROOT::uri_explanation.adoc[?]^
| {{ link_curie(class_.uri) }}
{% endif %}
{% if class_.skos_mappings %}
| Glossary mappings^xref:ROOT::what_are_glossary_mappings.adoc[?]^
a|
[cols="1,5"]
!===
! Mapping type ! Term
{% for skos_verb, terms in class_.skos_mappings.items() %}
! {{ skos_verb.value }}
a! {% for term in terms %}
{% if loop.length == 1 %}
{{ term }}
{% else %}
* {{ term }}{% if loop.last %} +{% endif %}
{% endif %}
{% endfor %}
{% endfor %}
!===
{% endif %}
|===

== Class hierarchy
{{ ancestors }}

== Slots

{% if class_.relations or class_.attributes %}
{% if relations_diagram %}
.Associated classes
{{ relations_diagram }}
{% endif %}

[cols="3,1,3,6",width=100%]
|===
| Name | Cardinalityxref:ROOT::cardinalities_explained.adoc[^?^,title="Explains stuff"] | Type | Description
{% for slot in class_.relations + class_.attributes %}
| <<{{ slot.name }},`{{ slot.name }}`>>
| {{ cardinalities(slot) }}
| {% if slot.destination_class %}{{ xref_class(slot.destination_class.name) }}{% elif slot.data_type %}`{{ slot.data_type }}`{% else %}`Any`{% endif %}
//| +++{{- slot.description | trim | replace("|", '\\|') | truncate(100, False) -}}+++
| {% if slot.description %}+++{{- slot.description | trim | replace("|", '\\|') -}}+++{% else %}n/a{% endif %}
{% endfor -%}
|===

'''

{% for slot in class_.relations + class_.attributes %}
//[discrete]
[#{{ slot.name }}]
=== `{{- slot.name -}}`
{% if slot.description %}+++{{- slot.description | trim -}}+++{% endif %}

[cols="h,4",width=65%]
|===
| URI
| {% if slot.uri %}{{ link_curie(slot.uri) }}{% else %}n/a{% endif %}
| Cardinality
| {{ cardinalities(slot) }}
| Data type
| {% if slot.destination_class %}{{ xref_class(slot.destination_class.name) }}{% elif slot.data_type %}`{{ slot.data_type }}`{% else %}`Any`{% endif %}
{% if slot.inherited_from != class_name %}
| Inherited from
| {{ xref_class(slot.inherited_from) }}
{% endif %}
{% if class_.skos_mappings %}
| Glossary mappings^xref:ROOT::what_are_glossary_mappings.adoc[?]^
a|
[cols="1,5"]
!===
! Mapping type ! Term
{% for skos_verb, term in class_.skos_mappings.items() %}
! {{ skos_verb.value }}
! {{ term }}
{% endfor %}
!===
{% endif %}

|===
{% endfor %}

{% else %}
This class has no slots.
{% endif %}