{%- if class_.title -%}
    {%- set title = class_.title -%}
{%- else -%}
    {%- set title = "`" ~ class_.name ~ "`" -%}
{%- endif -%}
= {{ title }}

{% if class_.description %}
+++{{ class_.description | trim }}+++
{% endif %}

--
[cols="h,3",width=60%]
|===
| Kind
| Class

| Abstract
| {{ class_.abstract }}

| Mixin
| {{ class_.mixin }}

{% if class_.class_uri %}
| URI
| {{ link_curie(class_.class_uri) }}
{% endif %}
|===
--

== Class hierarchy
{{ ancestors }}


== Relations

{% if class_.relations %}
{% if relations_diagram %}
{{ relations_diagram }}
{% endif %}

[cols="1,1,1,1,1,1"]
|===
| Name | URI | Cardinality | Destination class | Description | Inherited from
{% for relation in class_.relations %}
| {{ relation.name }}
| {{ link_curie(relation.uri) }}
| {{ cardinalities(relation) }}
| `{{ relation.destination_class }}`
| _+++{{- relation.description | trim | replace("|", '\\|') | truncate(100, False) -}}+++_
| {{ relation.inherited_from }}
{% endfor -%}
|===

{% else %}
This class is not the source of any relationship.
{% endif %}

== Attributes

{% if class_.attributes %}
{% for attribute in class_.attributes %}
[discrete]
=== `{{- attribute.name -}}`
{% if attribute.description %}+++{{- attribute.description | trim -}}+++{% endif %}

[cols="h,2",width=60%]
|===
| URI
| {{ link_curie(attribute.uri) }}
| Cardinality
| {{ cardinalities(attribute) }}
| Data type
| `{{ attribute.data_type }}`
{% if attribute.inherited_from != class_name %}
| Inherited from
| {{ xref_class(attribute.inherited_from) }}
{% endif %}
|===
{% endfor %}

{% else %}
This class has no attributes.
{% endif %}

{%- if class_.abstract or class_.mixin -%}
== Usage notes

--
{% if class_.abstract %}* This is an abstract class and it should not be instantiated directly.{% endif %}
{% if class_.mixin %}* This is a mixin class and it should not be subclassed.{% endif %}
--
{%- endif %}