[cols="1,5"]
!===
! Mapping type ! Term
{% for skos_verb, terms in skos_mappings.items() %}
! {{ link_curie(skos_verb.value) }}
a! {% for term in terms %}
{% if loop.length == 1 %}
{{ link_curie(term) }}
{% else %}
* {{ link_curie(term) }}{% if loop.last %} +{% endif %}
{% endif %}
{% endfor %}
{% endfor %}
!===
